/*====BASE STYLES====*/

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #F4F3F5;  
}

main {
  width: 100vw;
}

.contact-card, .info-card {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}



/*===MEDIA QUERIES===*/

/* For NAVIGATION styles */

@media (min-width: 1200px) {
  nav {
    font-size: 0;
  }
  
  body nav li {
    display: inline-block;
    border-bottom: none;
    width: 7.5rem;
    height: 3.5rem;
  }
  
  nav .logo-pic {
    position: relative;
    left: -21rem;
  }
  
  nav a {
    position: relative;
    right: -20rem;
    bottom: .3rem
  }
}

/* Main section style */

@media (min-width: 1200px) {
  main {
    width: 80%;
    height: 70vh;
    margin: 0 auto; 
    padding: 1rem
  }
  
  .contact-card, .info-card {
    float: left;
    width: 48.5%;
    height: 80vh;
    margin-top: 3rem;
    padding: 3rem;
  }
  
  .info-card {
    margin-left: 3%;
  }
}

/* Content Styles */

@media (min-width: 1200px) {
  h1 {
    margin-top: -2.5rem;
  }
  
  .icons {
    text-align: left;
  } 
}


/*====LAYOUT STYLES====*/

/*Single-direction margin declaration*/

nav, figure,
.contact-card, .info-card, .name, .enter-mail, .msg-box, 
h1, h2, p {
  margin-bottom: 1rem;
}

/* Map styles */

figure {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 2.5rem;
}

figure iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

/* Link section styles */

i {
  width: 4rem;
  height: 4rem;
  color: #ffffff;
  background-color: #6200EA;
  border: 1px solid #6200EA;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
}

section {
  text-align: center;
}

section ul {
  list-style-type: none;
}

section li {
  display: inline;
  padding: .3rem;
}


/* Info-card styles */

.name, .enter-mail, .msg-box {
  background-color: #F4F3F5;
  height: 4rem;
  padding: 1.5rem;
}

.msg-box {
  height: 12rem;
  margin-bottom: 1.5rem
}

.name {
  border-bottom: 3px solid #6200EA;
}



/*====FOOTER STYLES====*/

footer {
  background-color: #211138;
  width: 100vw;
  height: 4rem;
  display: table;
  padding: .6rem;
  text-align: center;
}

/*====IMAGES====*/

.logo {
  display: block;
  padding: 1rem;
  margin: 0 auto;
}


/*====TYPOGRAPHY====*/

/* Top Navigation */

nav li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: .2rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F4F3F5;
}


/* Contact card */

h2, 
.e-mail, .phone {
  text-transform: uppercase;
  color: #6200EA;
  font-weight: 600;
  letter-spacing: .2rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: .03rem;
  margin-bottom: 1.5rem;
}

.phone {
  margin-bottom: .5rem;
}


/* Info-card */
h1, h3, .intro-text {
  letter-spacing: .03rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  padding-top: .5rem;
}

.intro-text {
  font-size: 1.2rem;
}

h3, .tagline {
  font-size: 1rem;
  opacity: 0.25;
  font-weight: 900;
}


/* Footer styles */

footer {
  color: #ffffff;
  font-size: .6rem;
  font-weight: 500;
  letter-spacing: .3rem;
  line-height: .9rem;
  text-transform: uppercase;
}

/*====COMPONENTS====*/

/* Top Navigation */

nav ul {
  background-color: #6200EA;
  text-align: center;
}

nav li {
  border-bottom: 1.5px solid #ffffff;
}

nav a {
  display: block;
}

nav a:hover {
  transform: scale(1.13);
  color: #ffffff;
}


/* Submit button */

.submit {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.4rem;
  padding: .8rem 1rem;
  background-color: #6200EA;
  color: #ffffff;
  border-radius: 24px;
  text-transform: uppercase;
}


/* Footer */

.brand, .student {
  text-decoration: none;
  font-weight: 600;
  color: #6200EA;
}