/*====BASE STYLES====*/

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #F4F3F5;  
}

main,container {
  width: 100vw;
}

.contact-card {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}



/* LAYOUT STYLES */

/*Single-direction margin declaration*/

header,
main .map,
h2, p{
  margin-bottom: 1rem;
}

/*====HEADER STYLES====*/

.title {
  width: 100%;
  background-color: #6200EA;
  display: table;
  border-bottom: 1.5px solid #ffffff;
}



/*====IMAGES====*/

.logo, .map {
  display: block;
  margin: 0 auto;
}

.logo {
  padding: 1rem;
}

main .map {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 2rem;
}


/*====TYPOGRAPHY====*/

/* Top Navigation */

nav li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5;
  letter-spacing: .2rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F4F3F5;
}


/* Contact card */

h2, 
.e-mail, .phone {
  text-transform: uppercase;
  color: #6200EA;
  font-weight: 600;
  letter-spacing: .2rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: .03rem;
  margin-bottom: 1.5rem;
}

.phone {
  margin-bottom: .5rem;
}



/*====COMPONENTS====*/

/* Top Navigation */

nav ul {
  background-color: #6200EA;
  opacity: .9;
  text-align: center;
}

nav li {
  border-bottom: 1.5px solid #ffffff;
}

nav a {
  display: block;
}

nav a:hover {
  transform: scale(1.13);
  color: #ffffff;
}